@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

@theme {
  --radius: 0.5rem;
}

::selection {
  color: rgb(10 10 10);
  background: rgb(250 250 250);
}

@utility marquee {
  @keyframes marquee { 0% { transform: translateX(100%) } 100% { transform: translateX(-100%) } }
}
@utility marquee-reverse {
  @keyframes marquee-reverse { 0% { transform: translateX(-100%) } 100% { transform: translateX(100%) } }
}
@utility marquee-up {
  @keyframes marquee-up { 0% { transform: translateY(100%) } 100% { transform: translateY(-100%) } }
}
@utility marquee-down {
  @keyframes marquee-down { 0% { transform: translateY(-100%) } 100% { transform: translateY(100%) } }
}
